.div{
    padding-bottom: 1rem;
}
.div input{
    font-size: 18px;
    border: 0;
    border: 1px solid var(--green-dark);
    color: var(--green-light-text);
    padding: 0.3rem 0.5rem;
    background-color: transparent;
}
.div input:focus{
    outline: 0;
    border: 1px solid var(-green-light);
}
.div input::placeholder{
    color: var(--green-dark);
}